:root{
    
    --line-height-base: 1.2;

    --font-size-base: clamp(0.5rem, 1.5vw, 1.25rem);

    --font-size-span-m: 20px; 

    --font-size-link-s: 15px;

    --font-weight-m: 500;
    --font-weight-l: 700;

    --space-xs: 0.5rem;
    --space-s: 0.75rem;
    --space-m: 1rem;
    --space-l: 2rem;
    --space-xl: 4rem;

    --primary-color: black;

    --responsive-margin-about-div: clamp(var(--space-m), 3vw , var(--space-xl));

    --section-min-width: 200px;
    --section-fluid-width: 70%;
    --section-max-width: 1200px;

    --wide-section-min-width: 200px;
    --wide-section-fluid-width: 90%;
    --wide-section-max-width: 1400px;

    --hero-picture-min-width: 150px;
    --hero-picture-fluid-width: 90%;
    --hero-picture-max-width: 600px;

    --hero-picture-text-font-size: clamp(0.5rem, 2vw, 1rem);

    --our-shirts-text-div-margin: 2rem auto 0 auto;
    --our-shirts-picture-width: clamp(100px, 45%, 400px);
    --our-shirts-info-text-font-size: clamp(0.5rem, 1.5vw, 2rem);
    --info-text-line-height: 2 + 0.5rem;
    --our-shirts-picture-top-div-width: 70%;

    --img-width-xs: 150px;
    --img-width-s: 300px;
    --img-width-m: 450px;
    --img-width-l: 600px;
    --img-width-xl: 750px;

    --about-text-font-size: clamp(0.5rem, 1.5vw, 2rem);

    --div-bottom-margin: 2em;

    /*For media-querys*/
    --smartphone-width: 700px;

}

*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}

body {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
  line-height: 1.5; /* nicht clamp */
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

p{
    font-size: 1.3em;
}

img {
    max-inline-size: 100%;
    display: block;
} 

section {
    width: var(--section-fluid-width);
    max-width: var(--section-max-width);
    min-width: var(--section-min-width);
    margin: 0 auto 5rem;
}

/* ---------------------- RESPONSIVE / UTILITY CLASSES ---------------------- */


.responsive-heading {
    font-size: clamp(1.8rem, 10vw, 6rem);
    margin-bottom: var(--space-m);
    margin-top: var(--space-xl);
    text-align: center;
    font-weight: 700;
    line-height: 1;
    /* overflow-wrap: break-word; */
} 

@media (max-width: 700px) {
    .responsive-heading {
        margin-top: var(--space-l);
    }
}

.heading-long {
    font-size: clamp(1rem, 8vw, 5rem);
}




.wide-section {
    width: var(--wide-section-fluid-width);
    max-width: var(--wide-section-max-width);
    min-width: var(--wide-section-min-width);
}


.button{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    transition: 0.1s ease;

    padding: 0.75rem 1rem;
    line-height: 1;
    font-weight: var(--font-weight-m);
    font-size: clamp(0.5rem, 5vw, 2rem);
  

    user-select: none;       /* verhindert Text markieren */
    -webkit-user-select: none; /* Safari/iOS */
    -ms-user-select: none;     /* älteres Edge/IE */
}

.button-big{
    width: fit-content;
    font-weight: var(--font-weight-l);
}

.button-full {
    width: 100%;
    max-width: 500px;
}

.button-small {
    padding: 0.25rem 1rem;
    border: 1px solid #000000;
    width: fit-content;
    font-size: clamp(0.25rem, 2vw, 1.5rem);
}


.button:active {
    background-color: var(--primary-color);
}

.button:active p{
    color: #ffffff;
}

.button:hover{
    cursor: pointer;
}



/* ---------------------- HEADER / SIDE-BAR ---------------------- */



.sidepanel{
    z-index: 30000;
    height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    background-color: #000000;
    white-space: nowrap;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: var(--font-size-link-s);
    color: white;
    display: block;
    transition: 0.1s;
    opacity: 0;
}

.sidepanel a.deactivated-link {
    color: #bbbbbbc0;
    cursor: not-allowed;
    pointer-events: none;
}

#closebtn {
    padding-left: 16px;
    padding-right: 16px;
}

/* .sidepanel a:hover{
    background-color: #444;
} */

.sidepanel .closebtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn{
    /* font-size: 0px; */
    cursor: pointer;
    background-color: #ffffff;
    border: none;

    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    color: aqua;
}

/* .openbtn:hover {
    background-color: #444;
}

.openbtn:hover img {
    filter: brightness(0) invert(1);
} */
        


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px clamp(10px, 5vw, 70px);
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    height: 72px;
}

#logo-text{
    text-align: center;
    max-width: 300px;
    font-size: 2em;
    font-weight: 700;
    color: #000000;
    transition: all 0.3s ease;

    white-space: nowrap;
    margin: 0;
}


#header li {
    list-style: none;
    width: auto;

}

#header a > i{
    color: #000000;
}

#header button{
    color: #000000;
}

#header img {
    width: 32px;
    height: 32px;

    display: block;
}


.searchbar-container{
    box-sizing: border-box;
    padding: 0.5em; 

    display: flex;
}

#search-input {
    width: 0;
    opacity: 0;

    transition:
        width 0.4s ease,
        opacity 0.4s ease,
        padding 0.4s ease;
}

#search-input:focus {
    width: 150px;
    opacity: 1;

}

.menu-item,
.logo-item,
.search-item,
.cart-item {
    flex-shrink: 0;
}



#header.search-open .logo-item,
#header.search-open .header-spacer,
#header.search-closing .logo-item,
#header.search-closing .header-spacer {
    visibility: hidden;
}


.search-open .search-item, .search-closing .search-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.search-open #search-input {
    width: clamp(180px, 35vw, 320px);
    opacity: 1;
    padding: 0.4rem 0.6rem;
    border: 1px solid #777;
    pointer-events: auto;
}




/* @media (max-width: 700px) {

    #search-input:focus {
        width: 150px;
    }
} */

.search-submit {
    flex-shrink: 0;

    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button {
    box-sizing: border-box;
    padding: 0.5em; 
}

@media (max-width: 700px) {
    
    .hideOnMobile{
        display: none;
    }

    #logo-text{
        font-size: 1.6em;
    }

    #header img {
    width: 20px;
    height: 20px;
}

    .openbtn{

    }

    .searchbar-container{

    }

    .cart-button {
    
    }

}

/* ---------------------- MAIN CONTENT ---------------------- */



.img-text-wrapper{
    max-width: var(--hero-picture-max-width);
    width: var(--hero-picture-fluid-width);
    min-width: var(--hero-picture-min-width);
    margin: auto;
}

.img-text-wrapper img {
    width: 100%;
}

.img-text-wrapper p {
    width: 100%;
    margin-left: auto;
    text-align: right;
    line-height: 1.35;
    font-size: var(--hero-picture-text-font-size);
    
}


/* ---------------------- OUR SHIRTS ---------------------- */


.picture-div{
    margin: var(--our-shirts-text-div-margin);
    display: flex;
    align-items: center;    
}

.our-shirts-text-div {
    padding: var(--space-m);
}

.our-shirts-text-div > p {
    font-size: var(--our-shirts-info-text-font-size);
    line-height: var(--info-text-line-height);
}

.picture-div img{
    width: var(--our-shirts-picture-width);
}

.picture-left-div img{
	margin-right: 1em;
	float: left; /* fallback */
}


.text-right-aligned{
    text-align: right;
}

.picture-right-div img{
    margin-left: 1em;
	float: right; /* fallback */
}


.picture-top-div{
    margin: var(--our-shirts-text-div-margin);
    width: var(--our-shirts-picture-top-div-width);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.picture-top-div img {
    height: 150px;
    width: 100%; 
}

.picture-top-div p {
    text-align: center;
}


/* ---------------------- ABOUT ---------------------- */

/* Allgemeiner Wrapper */
.about-div {
    display: flex;
    margin: var(--responsive-margin-about-div) auto;
    align-items: center;
    line-height: var(--line-height-base);
    max-width: var(--section-max-width);
}

/* Textboxen */
.about-text-div {
    padding: var(--space-s);
    font-size: var(--font-size-base);
}

/* Varianten */
.about-div--scissors{
    flex-direction: column;
    max-width: var(--img-width-xl);
    text-align: center;
}

.about-div--scissors img{
    max-width: var(--img-width-xl);
    width: 100%;
    min-width: none;
}


.about-div--sewing {
    display: flex;
    max-width: var(--img-width-xl);
}

.about-div--sewing img {
    width: 30%;
    max-width: var(--img-width-xs);
}


.about-div-bottom {
    flex-direction: column;
    font-size: var(--font-size-base);
}

.about-div-bottom :nth-child(1){
    text-align: center;
    margin-bottom: var(--space-m);
}

.about-div-bottom :nth-child(2){
    font-weight: 700;
}


/* ---------------------- COLLECTION ---------------------- */


.product-container{
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 700px)
{
    .product-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.product-card{
    text-align: center;
}

.image-wrapper{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; /* oder 4 / 5 für T-Shirt-Verhältnis */
    overflow: hidden;
}

.image-wrapper img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* Füllt den Wrapper */
    height: 100%;  /* Füllt den Wrapper */
    object-fit: cover;
    transition: opacity 0.3s ease;
}



.image-wrapper img.product-img-back{
    opacity: 0;
}

.image-wrapper:hover .product-img-front {
    opacity: 0;
}

.image-wrapper:hover .product-img-back {
    opacity: 1;
}

@media (max-width: 700px) {

  

    #view-collection-button{
        margin-left: auto;
        margin-right: auto;
        /* background-color: antiquewhite; */
    }

    #view-collection-button p {
        /* background-color: aqua; */
        font-size: 1.25rem;
    }

}


/* ---------------------- FOOTER ---------------------- */

footer {
    background-color: #c5c5c5;
    display: flex;
    justify-content: center;
    
}
footer .wide-section {
    /* background-color: rgb(186, 254, 254); */
    display: flex;
    justify-content: center;
}

.footer-column {
    /* background-color: beige; */
    margin: var(--space-l);
    font-size: var(--font-size-base);

    display: flex;
    flex-direction: column;
}

.footer-column span {
    font-weight: var(--font-weight-l);
    color: black;
    display: block;
    font-size: var(--font-size-span-m);
}

.footer-column a {
    padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-xs);
    text-decoration: none;
    color: black;
    display: block;
    font-size: var(--font-size-link-s);

}

.indented-element {
    margin-left: 1rem;
}

.footer-icon {
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
}

    @media (max-width: 700px) {

        .footer-column {
            margin: 0.75rem;
        }

        .footer-column span {
            font-size: 1rem;
            margin-bottom: 0.25rem;
        }

        .footer-column a {
            font-size: 0.75rem;
            padding: 0.25rem 0.25rem 0.25rem 0.25rem;

        }

        .indented-element {
            margin-left: 0.5rem;
        }

        .footer-icon {
            width: 2rem;
        }
    }


/* Push Test
